{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1>{{ 'Create new job'|trans }}</h1>

    {% include 'admin/job/_form.html.twig' %}

    <a href="{{ path('admin.job.list') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        {{ 'back to list'|trans }}
    </a>
{% endblock %}
