{% extends 'base.html.twig' %}

{% block body %}
    {% for category in categories %}
        <h4>
            <a href="{{ path('category.show', {slug: category.slug}) }}">
                {{ category.name }}
            </a>
        </h4>

        {% include 'job/table.html.twig' with {
            'category': category,
            'activeJobs': category.activeJobs|slice(0, max_jobs_on_homepage)
        } only %}
    {% endfor %}
{% endblock %}
