{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h3 class="text-center">
            <b>{{ 'Your affiliate account has been created'|trans }}</b>
        </h3>

        <p>{{ 'Thank you! You will receive an email with your affiliate token as soon as your account will be activated.'|trans }}</p>
    </div>
{% endblock %}
