{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h3 class="text-center">
            <b>{{ 'affiliate.wait.title'|trans }}</b>
        </h3>

        <p>{{ 'affiliate.wait.content'|trans }}</p>
    </div>
{% endblock %}
