<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Jobeet - Your best job board{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('job.list') }}">Jobeet</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <div>
                            <a href="{{ path('admin.category.list') }}" class="btn btn-default navbar-btn">Admin Pavel</a>
                        </div>
                    </li>
                {% endif %}

                <li>
                    <div>
                        <a href="{{ path('job.create') }}" class="btn btn-default navbar-btn">Post a Job</a>
                    </div>
                </li>

                {% if app.user %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
